<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cop@2 Tienda de bebidas</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Lato:ital@1&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body class="container-contacto"> 
	<!-- Inicio de Encabezado -->
	<header class="header">
		<!-- LOGO -->
		<div class="img">
			<a href="../index.html">
			<img src="../assets/img/logo/logo_copados.png" alt="logo" class="logo_copados">
			</a>
		</div>
		<!-- Cierre logo -->
		<!-- Inicio Nav -->
		<nav>
			<!-- Lista con viñetas -->
			<ul class="menu">
				<li><a href="../index.html">HOME</a></li>
				<li><a href="#">SOCIOS</a></li>
				<li><a href="destacados.html">DESTACADOS</a></li>
				<li><a href="nuestras_tiendas.html">NUESTRAS TIENDAS</a></li>
				<li><a href="contacto.html">CONTACTO</a></li>
			</ul>
		</nav>
		<!-- Cierre nav -->
	</header>
	<!-- Cierre encabezado -->
	<!-- Inicio contenido -->
	<main class="mainContacto">
		<div class="titulo-contacto">	
			<h1>CONTACTO</h1>
		</div>		
		<form action="#" class="formulario">
			<label for="nombre">
				<input type="text" name="nombre" placeholder="NOMBRE">
			</label><br>
			<input type="text" name="apellido" placeholder="APELLIDO">
			<br>
			<label for="edad">
				<input type="number" name="edad" placeholder="EDAD">
			</label>
			<div>
				MENSAJE:
			</div>
			<div>
				<textarea name="" id="" cols="30" rows="10"></textarea>
			</div>
			<input type="submit" value="ENVIAR">
		</form>	
	</main>
	<!-- cierre contenido -->
	<footer class="footer">
		<!-- REDES SOCIALES -->
		<ul>
			<li><a href="https://www.instagram.com/copa2_ok/">
				<img src="https://icongr.am/fontawesome/instagram.svg?size=75&color=bc1a1a" alt="logoinsta">
			</a></li>
			<li><a href="https://www.facebook.com/Copa2RamosMejia">
				<img src="https://icongr.am/fontawesome/facebook.svg?size=75&color=bc1a1a" alt="logoface">
			</a></li>
			<li><a href="mailto:copados@gmail.com">
				<img src="https://icongr.am/fontawesome/envelope-o.svg?size=75&color=bc1a1a" alt="logomail">
			</a></li>
			<li><a href="https://api.whatsapp.com/send?phone=+5491161348258">
				<img src="https://icongr.am/fontawesome/whatsapp.svg?size=75&color=bc1a1a" alt="logowhats">
			</a></li>
			<li><a href="https://msng.link/o/?Copa2RamosMejia=fm">
				<img src="https://icongr.am/jam/messenger.svg?size=75&color=bc1a1a" alt="logomess">
			</a></li>
		</ul>			
	</footer>
</body>
</html>