<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cop@2 Tienda de bebidas</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Lato:ital@1&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body class="container-nuestrastiendas">
	<body>
	<!-- Inicio de Encabezado -->
	<header class="header">
		<!-- LOGO -->
		<div class="img">
			<a href="../index.html">
			<img src="../assets/img/logo/logo_copados.png" alt="logo" class="logo_copados">
			</a>
		</div>
		<!-- Cierre logo -->
		<!-- Inicio Nav -->
		<nav>
			<!-- Lista con viñetas -->
			<ul class="menu">
				<li><a href="../index.html">HOME</a></li>
				<li><a href="socios.html">SOCIOS</a></li>
				<li><a href="destacados.html">DESTACADOS</a></li>
				<li><a href="#">NUESTRAS TIENDAS</a></li>
				<li><a href="contacto.html">CONTACTO</a></li>
			</ul>

		</nav>
		<!-- Cierre nav -->
	</header>
	<!-- Cierre encabezado -->
	<!-- Inicio contenido -->
	<main class="gridTiendas">
		<div class="nuestrosLocales-titulo1">
			<h1>¡VISITA NUESTRAS SUCURSALES!</h1>
		</div>	
			<div class="sucRamos">
				<h2>COP@2 RAMOS MEJIA</h2>
				<div class="mapsRamos"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.6910113672225!2d-58.561919150273326!3d-34.637247880354806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc7fb662349cf%3A0x6acd5d240b71e656!2sCopados%20Tienda%20de%20Bebidas!5e0!3m2!1sen!2sar!4v1643032884214!5m2!1sen!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>		
			</div>
			<div class="sucLafe">
				<h2>COP@2 LAFERRERE</h2>
				<div class="mapsLafe"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.392863463344!2d-58.59254665026894!3d-34.74569518032684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc5b0165cf7fd%3A0x4737f34a92bf6810!2sCopados%20Tienda%20de%20Bebidas!5e0!3m2!1sen!2sar!4v1643033057054!5m2!1sen!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div>
	</main>
	<footer class="footer">
		<!-- REDES SOCIALES -->
		<ul>
			<li><a href="https://www.instagram.com/copa2_ok/">
				<img src="https://icongr.am/fontawesome/instagram.svg?size=75&color=bc1a1a" alt="logoinsta">
			</a></li>
			<li><a href="https://www.facebook.com/Copa2RamosMejia">
				<img src="https://icongr.am/fontawesome/facebook.svg?size=75&color=bc1a1a" alt="logoface">
			</a></li>
			<li><a href="mailto:copados@gmail.com">
				<img src="https://icongr.am/fontawesome/envelope-o.svg?size=75&color=bc1a1a" alt="logomail">
			</a></li>
			<li><a href="https://api.whatsapp.com/send?phone=+5491161348258">
				<img src="https://icongr.am/fontawesome/whatsapp.svg?size=75&color=bc1a1a" alt="logowhats">
			</a></li>
			<li><a href="https://msng.link/o/?Copa2RamosMejia=fm">
				<img src="https://icongr.am/jam/messenger.svg?size=75&color=bc1a1a" alt="logomess">
			</a></li>
		</ul>		
	</footer>
</body>
</html>